@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.cardscontainer {
    position: relative;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    font-family: 'Poppins', 'sans-serif';
}
.cardscontainer .card{
    position: relative;
    width: 182px;
    height: 200px;
    margin: 15px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.cardscontainer .card .content{
    text-align: center;
    transition: 0.5s;
}

.card__face--front {
    padding: 15px 0 10px 5px;
    width: calc(350px/2);
    align-content: center;
    position: absolute;
    z-index: 1;
}

.cardscontainer .card .content .card__face--front h2{
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 2.7em;
    pointer-events: none;
}

.urgent-h2{
    color: rgba(255, 0, 0, 0.2);
}

.important-h2{
    color: rgba(255, 208, 0, 0.336);
    z-index: -1;
}

.task-h2{
    color: rgba(0, 0, 0, 0.05);
}

.cardscontainer .card .content h3{
    font-size: 1.3rem;
    color: black;
    margin-bottom: 5px;
    z-index: 1;
    text-transform: uppercase;
    text-decoration: underline;
}

.urgent-h3{
    text-shadow: 2px 2px 1rem rgba(255, 46, 46, 0.5);
    font-weight: bold;
}

.important-h3{
    text-shadow: 2px 2px 1rem rgba(255, 208, 0, 0.5);
    font-weight: normal;
}

.task-h3{
    text-shadow: 2px 2px 1rem rgba(1, 5, 0, 0.3);
    font-weight: lighter;
}

.cardscontainer .card .content p{
    font-size: 0.9rem;
    color: black;
    font-weight: 300;
    padding: 5px 0 10px 0;
    word-wrap: break-word
}

.cardscontainer .card .content button,
.cardscontainer .card .content a{
    font-size: 0.58rem;
    padding: 2.7px 6.7px;
    margin-top: 5px;
    background: linear-gradient(
        to right top,
        rgba(187, 255, 218, 0.76),
        rgb(255, 255, 255));
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding-top: 4px;
    border: none;
    font-family: 'Poppins', 'sans-serif';
    cursor: pointer;
}

#deletebutton{
    background: linear-gradient(
        to right top,
        rgba(255, 187, 187, 0.76),
        rgb(255, 255, 255));
    padding-bottom: 3px;
}

.card__face--back {
    padding: 20px 7px 0 0;
    width: 175px;
    align-content: center;
    transform: rotateY(180deg);
    z-index: 3;
    position: absolute;
}

.content textarea{
    margin-top: 2px;
}

.backupdate{
    font-size: 0.5rem;
    padding: calc(8px/3) calc(20px/3);
    margin-top: 5px;
    background: linear-gradient(
        to right top,
        rgba(6, 102, 204, 0.925),
        rgba(72, 213, 235, 0.945));
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding-top: 4px;
    border: transparent;
    font-family: 'Poppins', 'sans-serif';
    cursor: pointer;
}


#contentflip {
    transition: transform 1s;
    transform-style: preserve-3d;
}
  
#contentflip.is-flipped {
    transform: rotateY(180deg);
}
  
.card__face {
    color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
