/*
 * Created by Coding Snow (?) on 1/13/2021.
 * Source: https://www.codingsnow.com/2021/01/digital-clock-with-date-day-month-year.html
 */

@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);

.datetime{
    color: #fff;
    background: #10101E;
    font-family: 'Abel', sans-serif;
    width: 90%;
    padding: 15px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    -webkit-box-reflect: below -15px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
    transition: 0.5s;
    transition-property: background, box-shadow;
    margin-bottom: -30px;
    margin-top: 15px;
    box-shadow: 0 calc(0.5rem/3) 1rem rgba(0, 0, 0, 0.4);
}

.datetime:hover{
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

.date{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child{
    background: #2E94E3;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0px;
    margin-right: 3px;
    padding: 0 5px;
    border-radius: 3px;
}