<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/clock.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/taskbutton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/taskname.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cardscontainer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/priority.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animated.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/glassstyle.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body onload='initClock()'>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='wrapper'>
            <div class='box'>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        
        <main>
            <section class="glass">
                {% block body %}{% endblock %}
            </section>
        </main>
        <div class="circle1"></div>
        <div class="circle2"></div>
        
        <script src="" async defer></script>
    </body>
</html>